* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .nav-container {
  background-color: #000000c5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo img {
  width: 130px;
}
.nav-container {
  padding: 15px 20px 20px;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style: none;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
}
.nav-menu ul li:hover {
  background-color: #ffffff34;
  transition: 0.3s;
}
.nav-menu ul li:hover a {
  color: rgb(172, 167, 166);
}

/* end header section  */

/* start main section  */

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(./images/background.png), linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-section .hero-left {
  color: #fff;
}

.hero-section .hero-left h1 {
  font-size: 55px;
}
.hero-left p {
  font-size: 18px;
  margin: 20px 0;
}
.btn-primary {
  color: #fff;
  background-color: rgb(255, 0, 0);
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  box-shadow: 1px 1px 4px #ffffff25;
}
.btn-primary:hover {
  color: rgb(255, 0, 0);
  background-color: #fff;
  transition: .3s ;
}
.hero-right img{
    width: 300px;
}
